lab1/ouput
lab1/task1d
lab1/input
lab1/task1c
lab1/output
*.exe
lab1/task1a
.git-old/
lab2/task1c
lab2/task1d
.gitignore
lab2/addresses
lab2/task2a
lab2/task2b
lab2/task2c
lab3/T0/mergesort
lab3/signatures
lab3/t1
lab3/T0/b
lab3/T0/exampleFile.txt
.vscode/settings.json
lab3/t1a
.vscode/settings.json
lab3/t1c
lab3/infected
password
lab3/t1c
lab3/t2b
lab2/menu
